* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
nav{
  border-color:#03a9f4;
}
.nav-div-1{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
